<launch>
    <!-- 路径规划 -->
    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find nav_pack)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_pack)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find nav_pack)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pack)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pack)/param/base_local_planner_params.yaml" command="load" />
    </node> -->

    <!-- 路径规划 -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find nav_pack)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_pack)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find nav_pack)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pack)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_pack)/param/base_local_planner_params.yaml" command="load" />

        <!-- 指定全局路径规划器 -->
        <param name="base_global_planner" type="string" value="custom_global_planner/AstarPlanner" />

        <!-- 加载全局路径规划器的参数文件（如果有的话） -->
        <rosparam file="/home/sysu/liaochao/workspace/navigation_test/src/custom_navigation/astar/param/global_planner_params.yaml" command="load"/>

        <!-- 指定局部路径规划器 -->
        <param name="base_local_planner" type="string" value="custom_local_planner/DWAPlanner" />

        <!-- 加载局部路径规划器的参数文件 -->
        <rosparam file="/home/sysu/liaochao/workspace/navigation_test/src/custom_navigation/dwa/param/local_planner_params.yaml" command="load" />
    </node>

</launch>

